* {
  margin: 0;
  padding: 0;
}

main {
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #D4D4ED;
  background-color: #F7F4F3;
}

#table {
  background-color: #171D1C;
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: scroll;
  border-radius: 5px;
}
#table #head {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

#table #body {
  width: fit-content;
  height: 60vh;
  overflow: scroll;
  border-top: solid 1px #9395D3;
  border-bottom: solid 1px #9395D3;
}
#table #head .tableData:nth-child(1),
#table #body .tableData:nth-child(1) {
  width: 40px;
}

#table #head .tableData:nth-child(5),
#table #body .tableData:nth-child(5) {
  width: 100px;
}


#table .tableData {
  padding: 1rem 1rem;
  display: flex;
  gap: 0.4rem;
  width: 140px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#table .row {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #9395D3;

}
#table .row input {
  width: 100px;
}

.row button {
  border: none;
  border-radius: 5px;
  background-color: #F7F4F3;
  padding: 0.5rem;
}
.row button:hover {
  background-color: #9395D3;
}

#table #footer {
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.seilaman {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#footer_buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#footer_buttons button {
  border: none;
  border-radius: 5px;
  background-color: #F7F4F3;
  padding: 0.5rem;
}

#footer_buttons button:hover {
  background-color: #9395D3;
}


@media (min-width: 780px) {
  #table {
    width: 60%;
  }
  #table #head {
    width: 100%;
    justify-content: space-around;
  }
  #table #body {
    width: 100%;
  }
  #table #body .row {
    justify-content: space-around;
  }
}